.container {
    width: 700px;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(190, 40, 190);
    font-size: 72pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: none;
    border-bottom: 2px solid rgb(190, 40, 190);
    padding: 10px;
    width: 500px;
    margin-bottom: 40px;
    font-size: 16px;
}

button {
    height: 40px;
    width: 120px;
    border: none;
    background-color: white;
    border: 1px solid rgb(190, 40, 190);
}

button:hover {
    background-color: rgb(190, 40, 190);
    border: none;
    color: white;
}